<!-- This home templlate -->
<div class="container-fluid">
  <div class="row text-center m-auto text-md-left pt-5 pt-lg-0">
    <div
      class="m-auto col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 text-center text-lg-left pr-5 pl-5"
    >
      <!-- This is for social media icons -->
      <div class="bounce-in-down">
        <i
          class="text-light text-fade-blue social-media-icons p-12 me-2 mb-2 fa fa-2x fa-facebook"
          aria-hidden="true"
        ></i>
        <i
          class="text-light text-fade-blue social-media-icons p-12 me-2 mb-2 fa fa-2x fa-instagram"
          aria-hidden="true"
        ></i>
        <i
          class="text-light text-fade-blue social-media-icons p-12 me-2 mb-2 fa-2x fa fa-twitter"
          aria-hidden="true"
        ></i>
        <i
          class="text-light text-fade-blue social-media-icons p-12 me-2 mb-2 fa-2x fa fa-telegram"
          aria-hidden="true"
        ></i>
        <i
          class="text-light text-fade-blue social-media-icons p-12 me-2 mb-2 fa-2x fa fa-bitcoin"
          aria-hidden="true"
        ></i>
        <i
          class="text-light text-fade-blue social-media-icons p-12 me-2 mb-2 fa-2x fa fa-envelope-o"
          aria-hidden="true"
        ></i>
      </div>
      <!-- social media icons end -->

      <!-- This is for Bit money label -->
      <div class="row mt-5 mb-5">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12">
          <h1 class="left-to-right text-light font-weight-bold">
            Bit Money - Lending & Investment Platform
          </h1>
        </div>
      </div>
      <!-- Bit money label end -->

      <!-- This is for button  -->
      <div class="row text-center">
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <button
            class="btn button bg-common-button blue-gradient color-block mb-3 mx-auto z-depth-1 font-weight-bold text-light"
            type="submit"
          >
            WHITEPAPER
          </button>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <button
            class="btn button bg-common-button blue-gradient color-block mb-3 mx-auto z-depth-1 font-weight-bold text-light"
            type="submit"
          >
            BUY TOKEN NOW!
          </button>
        </div>
      </div>
      <!-- Button label end -->
    </div>

    <!-- Home page image  -->
    <div
      class="text-center overflow-hidden col-12 col-xs-12 col-sm-12 col-md-12 col-lg-6 p-4"
    >
      <img
        class="bounce-in-down home-image"
        src="../../../assets/home_image.png"
        alt="home image"
      />
    </div>
    <!-- Image end -->
  </div>
</div>

<!-- This is currencies template -->
<app-currencies></app-currencies>
<!-- currencies template end -->
