<!-- This is subscribe template -->
<div class="bg-light-blue text-light pb-5">
    <!-- This is subscribe heading -->
    <div class="row m-auto py-5 justify-content-center">
        <h1>Subscribe to us!</h1>
    </div>
    <!-- Subscribe heading end -->

    <div class="row m-auto">
        <div class="col-md-1 col-lg-2"></div>
        <div class="text-center col-12 col-md-10 col-lg-8">

            <!-- This are social media icons -->
            <div>
                <i class="bg-common-button br-50 text-light text-light social-media-icons mx-2 fa fa-2x fa-facebook" aria-hidden="true"></i>
                <i class="bg-common-button br-50 text-light text-light social-media-icons mx-2 fa fa-2x fa-twitter" aria-hidden="true"></i>
                <i class="bg-common-button br-50 text-light text-light social-media-icons mx-2 fa fa-2x fa-telegram" aria-hidden="true"></i>
                <i class="bg-common-button br-50 text-light text-light social-media-icons mx-2 fa fa-2x fa-bitcoin" aria-hidden="true"></i>
                <i class="bg-common-button br-50 text-light text-light social-media-icons mx-2 fa fa-2x fa-envelope" aria-hidden="true"></i>
            </div>
            <!-- Social media icons end -->

            <!-- This is for subscribe input -->
            <div class="my-5">
                <span class="d-block d-md-inline mb-3 mb-md-0">
                    <input class="bg-dark-blue subscribe-input br-80 p-3 border-0" type="text" placeholder="Enter Your Email Address">
                </span>
                <span class="d-block d-md-inline">
                    <button class="subscribe-btn button bg-common-button blue-gradient p-2 color-block mb-3 z-depth-1 font-weight-bold text-light " type="submit ">Subscribe</button>
                </span>
            </div>
            <!-- Subscribe input end -->
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
</div>