/* This is for placehholder color */

::placeholder {
    color: white;
}


/* Placeholder color end */

.subscribe-input {
    width: 75%;
}


/* This is for social media icons */

.social-media-icons {
    height: 100px;
    width: 100px;
    padding: 32px;
}


/* Social media icons end */


/* This is for subscribe button */

.subscribe-btn {
    margin-left: -175px;
    width: 170px;
}


/* Subscribe button end */

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .subscribe-input {
        width: 100%;
    }
    .subscribe-btn {
        margin-left: 0px;
        width: 170px;
    }
}