<!-- This is advison template -->
<div class="bg-dark-blue text-light pb-5">
    <!-- This is heading -->
    <div class="row m-auto py-5 justify-content-center">
        <h1>Our Advisors</h1>
    </div>
    <!-- Heading end -->

    <!-- This is for advisor list loop -->
    <div class="row m-auto px-0 px-md-5">
        <div *ngFor="let advisor of advisorList; let i = index" class="text-center my-3 col-12 col-md-6">
            <div class="m-auto br-tl-10 br-tr-10 top-design"></div>
            <div class="br-25 mx-4 p-5 bg-light-blue">
                <div class="row">
                    <div class="col-12">
                        <img [src]='advisor.image' class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-12 mt-3">
                        <h2 class="mb-0 mt-3 mt-lg-0">{{advisor.name}}</h2>
                        <p class="text-fade-blue">({{advisor.designation}})</p>
                        <div>
                            <i class="bg-common-button br-50 text-light text-fade-blue social-media-icons mr-2 fa fa-2x fa-facebook" aria-hidden="true"></i>
                            <i class="bg-common-button br-50 text-light text-fade-blue social-media-icons mr-2 fa fa-2x fa-twitter" aria-hidden="true"></i>
                            <i class="bg-common-button br-50 text-light text-fade-blue social-media-icons mr-2 fa fa-2x fa-linkedin" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <p class="text-fade-blue">{{advisor.bio}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Advisor list end -->
</div>

<!-- This is svg template -->
<app-dark-bottom-svg></app-dark-bottom-svg>
<!-- Svg template end -->