/* This is for head design  */

.top-design {
    height: 20px !important;
    width: 70%;
    background: linear-gradient( to right, rgba(57, 100, 208, 1) 0%, rgba(45, 193, 201, 1) 100%);
}


/* head design end */


/* This is for social media icon */

.social-media-icons {
    height: 40px;
    width: 40px;
    padding: 12px;
    font-size: 16px;
}


/* Social media icons end */