<!-- This is feature template -->
<div class="container-fluid bg-light-blue">
  <!-- Feature head -->
  <div class="row text-center m-auto text-md-center">
    <div class="col-12 col-xs-12 col-sm-12 col-md-12 p-5">
      <h2 class="text-light">Our Features</h2>
    </div>
  </div>

  <div class="me-4 ml-4 me-md-5 ml-md-5">
    <ul class="pl-0 text-center text-md-left">
      <!-- This if feature row -->
      <li class="row">
        <div class="m-auto pr-5 pl-5 col-12 col-xs-12 col-sm-12 col-md-6">
          <div>
            <h3 class="text-light">Lending</h3>
            <p class="text-fade-blue">
              Unique platform for lending and investment with a safety fund and
              cooperation with world-wide arbitration.
            </p>
            <button
              class="button bg-common-button blue-gradient w-35 read-more-button color-block mb-3 mx-auto z-depth-1 font-weight-bold text-light"
              type="submit"
            >
              READ MORE
            </button>
          </div>
        </div>
        <div
          class="vertical-line-left text-center order-first order-md-last pr-5 pl-5 col-12 col-xs-12 col-sm-12 col-md-6"
        >
          <img
            class="img-fluid"
            src="http://www.webstrot.com/html/bitmoney/landing_page_blue/images/features/1.png"
            alt="Lending image"
          />
        </div>
      </li>
      <!-- feature row end -->

      <!-- This is feature row -->
      <li class="row">
        <div class="text-center pr-5 pl-5 col-12 col-xs-12 col-sm-12 col-md-6">
          <img
            class="img-fluid"
            src="http://www.webstrot.com/html/bitmoney/landing_page_blue/images/features/2.png"
            alt="Exchange money image"
          />
        </div>
        <div class="m-auto pr-5 pl-5 col-12 col-xs-12 col-sm-12 col-md-6">
          <div>
            <h3 class="text-light">Exchange Money</h3>
            <p class="text-fade-blue">
              Exchange between all popular currencies with a couple of clicks.
              Instant send from one currency to another.
            </p>
            <button
              class="button bg-common-button blue-gradient w-35 read-more-button color-block mb-3 mx-auto z-depth-1 font-weight-bold text-light"
              type="submit"
            >
              READ MORE
            </button>
          </div>
        </div>
      </li>
      <!-- feature row end -->

      <!-- This is feature row -->
      <li class="row">
        <div class="m-auto pr-5 pl-5 col-12 col-xs-12 col-sm-12 col-md-6">
          <div class="mt-lg-4">
            <h3 class="text-light">Investment</h3>
            <p class="text-fade-blue">
              Improved system of borrower's verification. Providing verification
              services for other services.
            </p>
            <button
              class="button bg-common-button blue-gradient w-35 read-more-button color-block mb-3 mx-auto z-depth-1 font-weight-bold text-light"
              type="submit"
            >
              READ MORE
            </button>
          </div>
        </div>
        <div
          class="vertical-line-left text-center order-first order-md-last pr-5 pl-5 col-12 col-xs-12 col-sm-12 col-md-6"
        >
          <img
            class="img-fluid"
            src="http://www.webstrot.com/html/bitmoney/landing_page_blue/images/features/3.png"
            alt="Investment image"
          />
        </div>
      </li>
      <!-- feature row end -->

      <!-- This is feature row -->
      <li class="row">
        <div class="text-center pr-5 pl-5 col-12 col-xs-12 col-sm-12 col-md-6">
          <img
            class="img-fluid"
            src="http://www.webstrot.com/html/bitmoney/landing_page_blue/images/features/4.png"
            alt="Online Wallet image"
          />
        </div>
        <div class="m-auto pr-5 pl-5 col-12 col-xs-12 col-sm-12 col-md-6">
          <div>
            <h3 class="text-light">Online Wallet</h3>
            <p class="text-fade-blue">
              Keep your money, exchange your money, invest your money, pay
              services and make purchases.
            </p>
            <button
              class="button bg-common-button blue-gradient w-35 read-more-button color-block mb-3 mx-auto z-depth-1 font-weight-bold text-light"
              type="submit"
            >
              READ MORE
            </button>
          </div>
        </div>
      </li>
      <!-- feature row end -->
    </ul>
  </div>

  <!-- This is svg component -->
  <app-light-bottom-svg></app-light-bottom-svg>
  <!-- Svg component end -->
</div>
