<header
  [ngClass]="
    scrollStatus || sideNavStatus ? 'position-fixed' : 'position-relative'
  "
  class="w-100 text-center"
  #header
>
  <nav
    [ngClass]="scrollStatus || sideNavStatus ? 'box-shadow bg-dark-blue' : ''"
    class="navbar navbar-expand-lg navbar-dark pt-3 pb-3 justify-content-sm-start"
  >
    <a
      class="navbar-brand order-0 pt-0 order-lg-0 ml-lg-0 ml-2 mr-auto"
      (click)="navigation('home')"
    >
      <img
        src="http://www.webstrot.com/html/bitmoney/landing_page_blue/images/logo/logo.png"
      />
    </a>
    <button
      class="navbar-toggler border-0 mt-2 pt-1 align-self-start"
      (click)="navToggle()"
      type="button"
    >
      <div *ngIf="sideNavStatus; else cross">
        <i class="text-light h1 fa fa-times"></i>
      </div>
      <ng-template #cross>
        <i class="text-light h1 fa fa-bars"></i>
      </ng-template>
    </button>

    <div
      [ngClass]="sideNavStatus ? 'open bg-dark-blue' : ''"
      class="collapse navbar-collapse mt-sm-9 mt-md-9 mt-lg-0 d-flex flex-column p-3 p-lg-0 flex-lg-row flex-xl-row justify-content-lg-end mobile-menu"
      id="navbarSupportedContent"
    >
      <ul
        class="navbar-nav align-self-stretch text-center text-sm-center text-md-left mt-lg-2"
      >
        <li class="nav-item">
          <a class="nav-link" (click)="navigation('home')">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigation('about')">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigation('features')">FEATURES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigation('project')">PROJECT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigation('steps')">STEPS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigation('tokens')">TOKENS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navigation('news')">NEWS</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" (click)="navigation('contact-us')">CONTACT US</a>
        </li>
        <li class="nav-item ml-lg-5">
          <button
            (click)="navigation('login')"
            class="button bg-common-button blue-gradient color-block mb-3 mx-auto z-depth-1 font-weight-bold text-light me-3"
            type="submit "
          >
            Login
          </button>
        </li>
      </ul>
    </div>
  </nav>
</header>
