<!-- This is doubt template -->
<div class="bg-dark-blue">
    <!-- This is heading -->
    <div class="row m-auto text-center text-light py-5 justify-content-center">
        <h1>Frequently Asked Question</h1>
    </div>
    <!-- Heading end -->

    <!-- This is for Question and answers -->
    <div class="row m-auto px-0 px-md-5 pb-5">
        <div class="address-box col-12 col-md-12 px-0 px-md-5">
            <div class="m-auto br-tl-10 br-tr-10 top-design"></div>
            <div class="address-animation br-25 mx-4 p-5 bg-light-blue">
                <div class="accordion" id="accordionExample">
                    <div *ngFor="let question of questionList; let i = index" class="border-0 text-fade-blue card">
                        <!-- This is question heading -->
                        <div class="bg-light-blue" id="headingOne">
                            <button class="text-center text-md-left card-head text-left text-dark bg-light mb-3 p-3 br-80 w-100 btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#que' + i" aria-expanded="false" aria-controls="collapseOne">
                                    {{question.heading}}
                                    <span></span>
                          </button>
                        </div>
                        <!-- Question end -->
                        <!-- This is answer  -->
                        <div id="que{{i}}" class="bg-light-blue collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="text-center text-md-left card-body">
                                {{question.body}}
                            </div>
                        </div>
                        <!-- Answer end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Question answers end -->
</div>