<!-- This is press template -->
<div class="bg-dark-blue text-light pb-5">
    <!-- This is for heading -->
    <div class="row m-auto py-5 justify-content-center">
        <h1>Press (media)</h1>
    </div>
    <!-- Heading end -->

    <!-- This are currencies -->
    <div class="row text-center m-auto">
        <div class="col-md-1 col-lg-2"></div>
        <div class="col-12 col-md-10 col-lg-8">
            <div class="row">
                <div *ngFor="let currency of currencyList" class="mb-5 col-6 col-md-3">
                    <img [src]='currency.image' alt="">
                </div>
            </div>
        </div>
        <div class="col-md-1 col-lg-2"></div>
    </div>
    <!-- Currencies end -->
</div>
<!-- This is svg template -->
<app-dark-bottom-svg></app-dark-bottom-svg>
<!-- Svg template end -->