<!-- This is footer compoent -->
<div class="bg-light-blue">
    <div class="text-center text-md-left text-light-blue row m-auto p-5">
        <div class="col-12 col-md-7">
            <p class="mb-0">© 2017-2018 BIT MONEY | ALL RIGHTS RESERVED. DESIGN BY WEBSTROT</p>
        </div>
        <div class="col-12 col-md-5">
            <div class="row">
                <div class="col-12">
                    <p class="mb-0"> WHITEPAPER &nbsp;&nbsp;|&nbsp;&nbsp; TERMS OF SERVICE &nbsp;&nbsp;|&nbsp;&nbsp; PRIVACY POLICY</p>
                </div>
            </div>
        </div>
    </div>
</div>